.header_container {
    max-width: 1440px;
    margin: 50px auto;
    padding-left: 110px;
    height: 90px;
    background: white;
    border-radius: 30px;
    display: flex;
    gap: 33px;
    cursor: pointer;
}

.sweetlife{
    font-size: 50px;
    color: rgb(250, 53, 92);
    transition: all 0.3s ease;
    margin-top: 5px;
    text-decoration: none;
}

.sweetlife:hover {
    color: rgb(250, 97, 122);
    text-shadow:
        0 0 6px rgba(250, 97, 122, 0.6),
        0 0 12px rgba(250, 97, 122, 0.5),
        0 0 20px rgba(250, 97, 122, 0.4),
        0 0 30px rgba(250, 53, 92, 0.3);
}

.catalog {
    width: 120px;
    height: 40px;
    border-radius: 45px;
    background: rgb(230, 67, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
}

.three-line {
    color: rgba(255, 255, 255, 1);
    font-size: 27px;
}

.span {
    color: white;
    padding-top: 1px;
}

.TheLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.Links {
    color: rgba(61, 66, 73, 1);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Links:hover {
    color: rgba(0, 102, 204, 1);
    text-decoration: underline;
}

.account {
    width: 120px;
    height: 43px;
    box-sizing: border-box;
    border: 1px solid rgba(219, 225, 237, 1);
    border-radius: 45px;
    background: rgb(247, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
    margin-left: 60px;
}

.profile {
    width: 24px;
    height: 19px;
}